<html>
    <head>
        <title>Secret Santa</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Secret Santa</a></h1>
            <div>
                <h2>
                {% block subtitle %}
                {% endblock %}
                </h2>
            </div>
        </div>

        <!--
        <div>
            <p>(Imagina que esto es un botón para empezar un nuevo evento...)</p>
            <strong>[Crear Evento]</strong>
        </div>
        -->
        <br>
        <div>
            {% block content %}
            {% endblock %}
        </div>

    </body>
</html>