{% extends 'santa_raffle/base.html' %}
{% load static %}

{% block subtitle %}
    Eventos
{% endblock %}

{% block content %}
    <div>
        <h3>{{ event.title }}
        {% if request.user.pk == event.organizer.pk %}
            <a href="{% url 'edit_event' pk=event.pk %}"><button>Editar</button></a>
        {% endif %}
        </h3>
        <p>Fecha de creación: {{ event.created_date }}</p>
            {% if event.event_date %}
                <p>Fecha programada para el evento: {{ event.event_date }}</p> <!-- idea: (faltan X días!) -->
            {% endif %}
        <div>
            <p>Miembros:
                <!--
                {% if request.user.pk == event.organizer.pk %}
                    (<a href="{% url 'edit_event' pk=event.pk %}">Editar</a>)
                {% endif %}
                -->
            </p>
            <ul>
                {% for member in members %}
                    <li>
                        {{ member.owner__username }}
                        {% if member.owner__id == event.organizer.pk %}
                            <i>(organizador)</i>
                        {% endif %}
                        <!--
                        {% if request.user.pk == member.owner__id %}
                            <input type="checkbox" value="{{member.confirmed}}"/>
                        {% else %}
                            <input type="checkbox" value="{{member.confirmed}}" disabled/>
                        {% endif %}
                        -->
                        {% if member.confirmed %}
                            <input type="checkbox" checked disabled/>
                        {% else %}
                            <input type="checkbox" disabled/>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            
            {% if request.user.pk == event.organizer.pk and not event.raffle_date %}
                <form action="{% url 'start_raffle' pk=event.pk %}" method="POST"> {% csrf_token %}
                    <button type="submit">Iniciar sorteo</button>
                </form>

                <div><!-- hidden="True"-->
                    <h4>Invitar usuarios:</h4>
                    <form action="{% url 'event_invites' pk=event.pk %}" method="POST"> {% csrf_token %}
                            {{ form.as_p }}
                        <input type='submit' value="Enviar"></input>
                    </form>
                </div>
            {% endif %}

            {% if event.raffle_date %}
                <div>
                    <p>Los resultados del sorteo ya están disponibles. Para desencriptar la información, por favor selecciona el archivo con tu clave privada y presiona <strong>Desencriptar</strong>.</p>
                    <label for"skey">Selecciona tu clave privada:</label>
                    <input type="file" id="skey">
                    <button type="button" onclick="displayEventResults()" style="display:block">Desencriptar</button>
                    <p id="dec_errors" style="color:red"></p>
                    <div id="eventres" style="display:none">
                        <input type="hidden" id="enc_event_key" value="{{participant.event_key}}">
                        <input type="hidden" id="enc_giftee_id" value="{{participant.giftee_id}}">
                        <input type="hidden" id="enc_giftee_chat_id" value="{{participant.giftee_chat_id}}">
                        <input type="hidden" id="enc_giftee_chat_key" value="{{participant.giftee_chat_key}}">
                        <input type="hidden" id="enc_gifter_chat_id" value="{{participant.gifter_chat_id}}">
                        <input type="hidden" id="enc_gifter_chat_key" value="{{participant.gifter_chat_key}}">
                        <p><strong>Drumroll please!!!</strong></p>
                        <p>Tienes que hacerle un bonito regalo a <strong><output id="giftee_id"></output></strong></p>
                        <p>Tu clave de evento es: <strong><output id="ekey"></output></strong></p>
                        <p>El ID del chat con tu giftee es: <strong><output id="giftee_chat_id"></output></strong></p>
                        <p>La clave simétrica del chat con tu giftee es: <strong><output id="giftee_chat_key"></output></strong></p>
                        <p>El ID del chat con tu amigo secreto es: <strong><output id="gifter_chat_id"></output></strong></p>
                        <p>La clave simétrica del chat con tu amigo secreto es: <strong><output id="gifter_chat_key"></output></strong></p>

                    </div>
                </div>

                <div id="event_chats" style="display:none">
                    <p> Puedes usar los siguientes chats para comunicarte con tu amigo secreto y con la persona a la que tienes que hacerle un regalo. </p>
                    <div>
                        <p> Chat con <strong><output id="giftee_name"></output></strong>.</p>
                        <textarea id="chat_giftee" rows="5" cols="39" style="display:block;resize:none" readonly></textarea>
                        <input type="text" id="msg_giftee">
                        <button type="button" onclick="sendMessage('giftee')">Send</button>
                        <button type="button" onclick="refreshChats()">Refrescar</button>
                    </div>
                    <div>
                        <p> Chat con tu <strong>amigo secreto</strong>.</p>
                        <textarea id="chat_gifter" rows="5" cols="39" style="display:block;resize:none" readonly></textarea>
                        <input type="text" id="msg_gifter">
                        <button type="button" onclick="sendMessage('gifter')">Send</button>
                        <button type="button" onclick="refreshChats()">Refrescar</button>
                    </div>
                
                </div>
            {% endif%}

            {# BEGIN REMOVE LATER #}

                <div>
                    <button type="button" onclick="testFetchGet()">Test GET</button>
                    <button type="button" onclick="testFetchPost()">Test POST</button>
                    <button type="button" onclick="printGlobals()">Globals</button>
                    
                </div>

            {# END REMOVE LATER #}
        </div>
        <br>
    </div>
    <script src="{% static 'scripts/crypto.js' %}"></script>
    <script>
        var csrfToken = "{{csrf_token}}";
        var getMessageURL = "{% url 'getmsgs' event_pk=event.pk %}";
        var sendMessageURL = "{% url 'sendmsg' %}";
        var eventPK = "{{ event.pk }}";
    </script>
    <script src="{% static 'scripts/event.js' %}"></script>
{% endblock %}