<html>
    <head>
        <title>Secret Santa</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Secret Santa</a></h1>
            <h2>Welcome!</h2>
            <div>
                {% if request.user.is_authenticated %}
                    Estás autenticade como <strong> {{ request.user.username }} </strong> | 
                    <a href="{% url 'logout' %}">Cerrar Sesión</a>
                {% else %}
                    No has iniciado sesión. | 
                    <a href="{% url 'login' %}">Iniciar Sesión</a> | 
                    <a href="{% url 'register' %}">Registrarse</a>
                {% endif %}
            </div>
        </div>

        <div>
            <p>(Imagina que esto es un botón para empezar un nuevo evento...)</p>
            <strong>[Crear Evento]</strong>
        </div>
        <br>
        <div>
            <p>En esta sección habrá una lista de los eventos a los que estás asociado.</p>
            
            <em>*Inserte aquí lista o mensaje de que no hay nada*</em>
            {% for event in events %}
                <div>
                    <a href={{event.id}}><h3>{{ event }}</h3></a>
                    <p>Creado por: <a href="profile/"> {{ event.organizer }} </p></a>
                </div>
                {% endfor %}
        </div>

    </body>
</html>