<html>
    <head>
        <title>Secret Santa</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Secret Santa</a></h1>
            <h2>Welcome!</h2>
        </div>

        <div>
            <p>(Imagina que esto es un botón para empezar un nuevo evento...)</p>
            <strong>[Crear Evento]</strong>
        </div>
        <br>
        <div>
            <p>En esta sección habrá una lista de los eventos a los que estás asociado.</p>
            
            <em>*Inserte aquí lista o mensaje de que no hay nada*</em>
        </div>

    </body>
</html>